<%-  include ("./partials/header.ejs") %>

<div class="card">

    <div class="card-header"> Tasks @ Work </div>
  
    <div class="card-body p-5">
  
        <form class="d-flex justify-content-center align-items-start mb-4" method="post" action="/workAddTask">
            <div class="form-outline flex-fill">
                <input type="text" id="form2" class="form-control" placeholder="new task" name="newTask" />
                <label class="form-label" for="form2"></label>
            </div>
            <button type="submit" class="btn btn-info ms-2">Add Task</button>
        </form>
  
        <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                aria-labelledby="ex1-tab-1">
                <ul class="list-group mb-0">
                    <% for (let i=tasks.length - 1; i>= 0; i--) { %>
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded">
                            <input class="form-check-input me-2 task-checkbox" data-task-index="<%= i %>" type="checkbox" value="" aria-label="..." />
                            <p id="task<%= i %>"><%= tasks[i] %></p>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
  
    </div>


<%- include("./partials/footer.ejs") %>